main {   
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

h4{
    text-align: center;
}


ul {
     list-style-type: disc;
}




/* Estilos generales para la clase sociales-item */
.sociales-item {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 1rem 0;
}

/* Imagen base */
.foto-sociales {
  width: 300px;   
  height: auto; 
  max-width: 100%;       /* que nunca se desborde */
  border-radius: 15px;   /* bordes redondeados */
  object-fit: cover;     /* recorte agradable */
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* sombra suave */
}







/* Adaptaci칩n para pantallas m칩viles */
@media (max-width: 768px) {

  .sociales-item {
    flex-direction: column; /* im치genes una debajo de otra */
    align-items: center;
  }


  .foto-sociales {
    width: 95%;          /* ocupa casi todo el ancho */
    border-radius: 20px; /* bordes m치s suaves/redondeados */
  }
}









